<html>

<body style="background-color: #a3cfb4; padding: 50px;">

    <center>

        <h1> {{num_clusters}} CLUSTERS : </h1>
        <br><br><br>


        {% for cluster, cgpa_values in clusters.items() %}
        <h2>Cluster {{ cluster + 1 }}</h2>
        <p>Student names:
            {% for student in students %}
            {% if cluster_assignments[loop.index0] == cluster %}
            {{ student }},
            {% endif %}
            {% endfor %}
            - CGPA values: {{ cgpa_values }}</p>
        {% endfor %}



        <br><br>
        <a href='/'>go back to home page</a>

    </center>

</body>

</html>