<html>
    <body style="background-color: #87CEEB; padding: 50px;" >

        <center>

        <h1> Lab 8: <br><span style="color: purple;"> K-Means Algorithm </span> for Students' CGPA</h1><br>
        
        
        <form method="POST", action="{{url_for('lab9')}}">
            
           <b> String 1:  <input type="text", name="s1", placeholder="string 1"/><br><br>
           <b> String 2:  <input type="text", name="s2", placeholder="string 2"/><br><br>
           
            <input type="submit" , value='Find the distance' >
        </form>

        <br><br>
        <a href='/'>Go Home Page</a> 

        
    </center>

    </body>
</html>
