<html>

<body style="background-color: #87CEEB; padding: 50px;">

    <center>

        <h1> Machine Learning Lab</h1>
        <p>Course Code: CSE 816</p>
        <p>Submitted to <br> <b>Professor Dr. Mohammad Osiur Rahman</b> </p>
        <p>Submitted by <br> <b>Misbah Uddin Faroque <br> ID: 18701020</b> </p>
        <br><br>

        <a href='/lab-1'><b>Lab-1:</b> Perceptron Learning Algorithm <b>(Apple/Orange)</b></a>
        <br><br>
        <a href='/lab-7'><b>Lab-7:</b> K-Means Clustering Algorithm <b>(Scores of 2 Variables)</b> </a>
        <br><br>
        <a href='/lab-8'><b>Lab-8:</b> K-Means Clustering Algorithm <b>(Students CGPA)</b> </a>
        <br><br>
        <a href='/lab-9'><b>Lab-9:</b> Dis Algorithm <b>(Students CGPA)</b> </a>
        <br><br>
        <a href='/lab-10'><b>Lab-10:</b> KNN Algorithm <b>(T-shirt Sizing)</b> </a>


    </center>

</body>

</html>